*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.service {
    height:400px;
    background-color: aqua;
}
.services-container {
    text-align: center;
    padding: 100px;
    background-color:beige;
    background-image: url("C:\Users\mariy\OneDrive\Documents\OneStopv1\OneStop\User\src\components\images\servicebg.jpeg");
  background-size: cover;
  }
  .services-container h1{
      
      font-size: 50px;
  }
.service-img {
  width: 100%;
  height: 60%;
  margin-bottom: 20px;
}
  .services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .service-card {
    width: 500px;
    height:500px;
    margin: 20px;
    border: 1px solid #f5eeee;
    padding: 20px;
    text-align: left;
    background-color: aliceblue;
  }
  
  .service-card h2 {
    font-size:28px;
  }
  .service-card p {
    font-size : 20px
  }
  /* Add more styles as needed */
  .services-container button{
    
    
    margin-top:30px;
    border-radius: 12px;
    justify-content: center;
    text-align: center;
    width:200px;
    height:40px;
    background-color: white ;
    box-sizing: content-box;
    border:2px solid white 
  }